*, html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.page{
    background-color: #ffffff;
    width: 650px;
    
}
.menu{
    float: left;
    width: 100%;
    background-color: #0084ce;
}
.menu ul{
    list-style: none;
}
.menu li{
    float: left;
}
.menu li{
    float: left;
}
.menu-link{
    display: block;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.page-monkey{
    margin:10px;
    width:180px;
}
.page p{
    line-height: 16px;
    margin: 15px;;

}
.left-monkey{
    float:left;
}
.right-monkey{
    float:right;
}